body {
  background-image: linear-gradient(90deg, #020024 0%, #696969 100%);
  font-family: 'Roboto', sans-serif;
}

.full-back {
  background-image: linear-gradient(90deg, #020024 0%, #444141 100%);
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;

}


.shadow_bg {
  color: white;

  box-shadow: 0px 0px 2px 0px;
}

.shadow_bg:hover {

  box-shadow: 0px 0px 10px 5px;

}


.wrapperFooter {
  background-image: linear-gradient(to right, rgb(44, 46, 48), rgb(116, 116, 176));



}



.wrapper {
  border: 2px solid rgb(149, 0, 255);
}

.containerSkill {
  background-color: pink;
}

.barCompleted {
  background-color: #EAA31C;
  /* width: 90%;
  margin-bottom: 4px; */
}

.label {
  font-size: 20px;
  color: green;
}

.grad {
  background-image: linear-gradient(to right, red, yellow);
}

.activeClass {
  color: #EAA31C;

}



/*  */


.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
