body {
  background-image: linear-gradient(90deg, #020024 0%, #696969 100%);
}

.full-back {
  background-image: linear-gradient(90deg, #020024 0%, #35C8AC 100%);
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;

}



.wrapper {
  border: 2px solid rgb(149, 0, 255);
}

.containerSkill {
  background-color: pink;
}

.barCompleted {
  background-color: #EAA31C;
  /* width: 90%;
  margin-bottom: 4px; */
}

.label {
  font-size: 20px;
  color: green;
}

.grad {
  background-image: linear-gradient(to right, red, yellow);
}

.activeClass {
  color: #EAA31C;

}


/* image */